@media screen {
body {
    margin:0;
    padding: 0;
    background-color: #151615;
    font-family: Arial, Helvetica, sans-serif;

}
* {
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  padding-right: 3%;
  background-color: #151615;
}

.topnav a {
  float: right;
  display: flex;
  color: #b5bcb5;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  color: #f4f4f4;
}

.topnav a.active {
  color: #f4f4f4;
}

.logo{
float: left;
display: flex;
position: relative;
max-width: 15em;
justify-content:space-around;
padding-left: 3%;
padding-top: 13px;
}

.menuline{
display: flex;}

}
